@font-face {
    font-family: 'DM-Sans-BL';
    src:
      url('/Penne/Fonts/DMSans_18pt-Black.ttf')
}

@font-face {
    font-family: 'DM-Sans-BO';
    src:
      url('/Penne/Fonts/DMSans_18pt-Bold.ttf')
}

html, body {
    height: 100dvh;
}

* {
    margin: 0;
    padding: 0;
    font-family: "DM-Sans-BL";
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-family: "DM-Sans-BO";
    transition-duration: 0.3s;
}

a:hover {
    opacity: 0.8;
}

header {
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(102, 102, 102);
    position: sticky;
    top: 0;
    margin: 0;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

ul > a {
    margin: 0 10px 0 10px;
}

.portada {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/pngtree-black-plate-filled-with-noodles-picture-image_2655003-transformed\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.portada > h1 {
    padding: 15px;
    font-size: 30px;
    text-align: center;
}

.portada > p {
    font-size: 20px;
    text-align: center;
    padding: 0 10px 0 10px;
}

.portada > img {
    min-width: 50px;
    position: absolute;
    top: 90%;
    transition-duration: 0.3s;
}

.portada > img:hover {
    transform: scale(0.9);
}

.somos {
    text-align: center;
    padding: 20px;
    padding-top: 35px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.somos > p {
    font-size: 17px;
}

.somos > h1 {
    padding: 30px;
    font-size: 25px;
}

.numeros {
    padding: 80px;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.div-numeros {
    max-width: 250px;
    text-align: center;
    margin: 0 20px 0 20px;
}

.div-numeros > img {
    min-width: 50px;
    transition-duration: 0.3s;
}

.div-numeros > img:hover {
    transform: scale(0.9);
}

.img-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 800px;
    max-height: 100px;
    text-align: center;
    margin: 30px auto 30px auto;
}

.img-contenedor > a {
    font-size: 35px;
    position: absolute;
    z-index: 10;
    color: whitesmoke;
}

.img-contenedor > a:hover {
    opacity: 0.8;
}

.img-contenedor > img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    filter: blur(1.5px) brightness(60%);
    border-radius: 3px;
}

footer {
    position: sticky;
    top: 100%;
    border-top: 1px solid rgb(29, 29, 29);
    padding: 30px;
    text-align: center;
}